@import "tailwindcss";

body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: var(--font-roboto), sans-serif;
  background-color: #fff;
}

@theme{
  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);
}
