@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto), sans-serif;
  overflow-x: hidden;
}

@theme {
  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);

  --color-primary: #f9fafc;
  --color-accent: #2184c6;

  --color-grayish: #6c757d;

}

@layer base {
  input,
  textarea,
  select {
    @apply w-full outline-none border-none;
  }
  hr {
    @apply border-grayish text-grayish bg-grayish my-5 h-[0.1px];
  }
}

@layer components {
  .dashboardCard {
    @apply bg-white rounded-lg shadow-md p-5 flex flex-col items-center;
  }
  .card{
    @apply bg-white rounded-lg shadow-md p-5 flex flex-col items-start;
  }
  .btn {
    @apply px-4 py-2 rounded-md font-semibold;
  }
  .btn-primary {
    @apply bg-accent text-white;
  }
  .btn-secondary {
    @apply bg-white text-gray-700;
  }
  .btn-success {
    @apply bg-green-500 text-white;
  }
  .btn-danger {
    @apply bg-red-500 text-white;
  }
  .btn-excel{
    @apply bg-[#2463ea] text-white
  }
}

@layer utilities {
  .form-div {
    @apply mb-5;
  }
  .form-label {
    @apply text-grayish text-sm font-semibold mb-3 font-nunito;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .links {
    @apply text-sm text-accent font-semibold;
  }
  .heading {
    @apply text-2xl font-bold;
  }
  .sub-heading {
    @apply text-sm font-semibold text-grayish;
  }
  .error {
    @apply text-red-500 text-sm mt-1;
  }
}

